dialog#dlgCapacite {
    width : 100%;
    max-width: 700px;
}

dialog#dlgCapacite form div {
    display: grid;
    grid-template-columns: 6em auto;
    column-gap: 0.5em;
    row-gap: 0.3em;
    width: 100%;
}
dialog#dlgCapacite form div span {
    margin-bottom: 1em;
}


dialog#dlgCapacite #DLGCAPACITE_TXT_RANG {
    width: 4em;
}

dialog#dlgCapacite input:disabled {
    appearance: none;
    border: none;
}

dialog#dlgCapacite textarea {
    resize: vertical;
    height: 10em;
    width: 100%;
}

dialog#dlgCapacite .dlgCapaciteDisplay {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size:75%;
    color: black;
}

