dialog#dlgVoie {
    width : 100%;
    max-width: 500px;
}

dialog#dlgVoie form div.groupe_unique {
    display: grid;
    grid-template-columns: 8em auto;
    column-gap: 0.5em;
    row-gap: 0.3em;
}

dialog#dlgVoie form div.groupe_unique span {
    margin-bottom: 0.2em;
}
