label {
    display: inline-block;
    font-weight: bold;
    font-size:85%;
    margin-top: 4px;
}

.labelDessous {
    padding-top: 0px;
    padding-bottom: 2px;
    font-size:75%;
    color: #777777;
    display: inline-block;
}

input:invalid {
    background:red;
}

.labelAide {
    padding-top: 0px;
    padding-bottom: 2px;
    font-size:80%;
    color: #444444;
    display: inline-block;
}

.valeurAide {
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin:0;
    padding:0;
}

textarea {
    font-size:80%;
}

select {
    background-color: #DDDDDD;
}

select:disabled {
    appearance: none;
    border-style: none;
    color: black;
    font-weight: bold;
    font-size: 90%;
    color: #444444;
    background-color: rgba(1,1,1,0);
}

button.btnModif {
    background:url(../img/icone_crayon.png);
    background-repeat: no-repeat;
    background-size: 1.3em 1.3em;
    background-position-x: center;
    background-position-y: center;
    height: 1.3em;
    width: 1.3em;
    vertical-align: middle;
    border:0;
    padding:0;
    margin:0;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    font-size:0.9em;
}

button.btnModif:hover{
    background-color: #AAAAAA;
}

/******************************************
 * Zone d'entete.
 *******************************************/
.entete {
    height: 6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.logoEntete {
    width: 4em;
    height: 4em;
}

@media (max-width: 640px) {
    .logoEntete {
        display: none;
    }
}

.logoEntete > img {
    width: 4em;
    height: 4em;
    color: grey;
}

.zoneNomPersonnage {
    display: inline-block;
    height: 4em;
    text-align: center;
    max-width: 400px;
}

.zoneNomPersonnage > div.zoneTxtNomPersonnage {
    padding-left:10px;
    padding-right:10px;
}

.zoneNomPersonnage > div > input {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
}

.zoneNomPersonnage > img {
    margin-top:2px;
    display: block;
    width:100%;
}

.zoneNomPersonnage > label {
    display: block;
    text-transform : uppercase;
    color: var(--couleur-cadre);
    font-weight: bold;
    font-size: 1em;
}

/******************************************
Les colonnes
*******************************************/
div.col_container {
    display: flex;
    flex-direction: row;
    row-gap: 4px;
}

@media (max-width: 900px) {
    div.col_container {
        flex-direction: column;
    }
}

.colonne {
    min-width: 290px;
    width:100%;
}

/******************************************
Les groupes de champs
*******************************************/

fieldset.niv1 {
    padding-right: 0;
    padding-left: 0;
    padding-top: 1.5em;
    border-width: 4px;
    border:0;
    border-style: solid;
    border-color: var(--couleur-cadre);
    margin:6px;
    position: relative;
}

fieldset.niv1 > legend {
    float: left;
    background-color: var(--couleur-cadre);
    text-align: center;
    font-weight: bold;
    color: white;
    width : 100%;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    text-transform: uppercase;
    position: absolute;
    top:0px;
    height: 1.5em;
}

fieldset.niv1 > div.ligne_niv1:nth-child(2) {
    margin-top: 8px;
}

fieldset.niv1 > div.groupe_multiple {
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--couleur-cadre);
    padding:8px;
    margin-top:8px;
    margin-bottom:0px;
}

/********************************************
Ligne de niveau 1
*********************************************/
.ligne_niv1 {
    display: flex;
    flex-wrap: nowrap;
    margin:0;
    padding:0;
    width: 100%;
    padding-right:15px;
    padding-left:15px;
    margin-bottom: 8px;
}

/******************************************
Les cases avec label dessous et encadré
*******************************************/

.case1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
}

.case1 > .grille_case {
    order:1;
    display: flex;
    flex-direction: row;
    border:0;
    margin:0;
}

.case1 > .legende_case {
    order:2;
    background-color: var(--couleur-cadre);
    text-align: center;
    font-weight: bold;
    color: white;
    width : 100%;
    padding-top:0.2em;
    margin-top: 0;
    text-transform: uppercase;
    height:1.6em;
    font-size: 0.72em;
}

.case1 > .labelAide {
    order:3;
    margin-top:0.1em;
    font-size: 0.72em;
    text-align: center;
    width : 100%;
    color: var(--couleur-cadre);
}

.case1 > .grille_case > .valeur_case {
    border-width: 2px;
    border-color: var(--couleur-cadre);
    border-top-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-right-style: none;
    min-width: 3.5em;
    position: relative;
    min-height:2.3em;
    display: flex;
    justify-content: center;
    background-color: white;
}

.case1 > .grille_case > .valeur_case:last-child {
    border-right-style: solid;
}

.case1 > .grille_case > .valeur_case > input {
    width:100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    border: none;
    padding-bottom: 0.4em;
}

.case1 > .grille_case > .valeur_case > textarea {
    width:100%;
    height: 6em;
    resize : vertical;
    min-height:2.4em;
    border: none;
}

.case1 > .grille_case > .valeur_case > span:first-child {
    font-weight: bold;
    font-size: 1em;
    color : var(--couleur-secondaire);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.4em;
}

.case1 > .grille_case > .valeur_case > .labelFond {
    font-weight: bold;
    font-size: 0.72em;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #999999;
}

/******************************************
Les cases avec label à gauche
*******************************************/
.case2 {
    display: flex;
    flex-direction: row;
    border-width: 0;
    border-style: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    position: relative;
    height:1.6em;
}

.case2:has(.grille_case > .valeur_case > .labelFond) {
    margin-top: 1em;
}

.case2 > .grille_case {
    display: flex;
    flex-direction: row;
    border:0;
}

.case2 > .legende_case {
    background-color: var(--couleur-cadre);
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin:0;
}

.case2 > .grille_case > .valeur_case {
    border-width: 2px;
    border-top-style: solid;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color : var(--couleur-secondaire);
    min-width: 3em;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
}

.case2 > .grille_case > .valeur_case:nth-child(1) {
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: var(--couleur-cadre);
}

.case2 > .grille_case > .valeur_case:nth-child(2) {
    margin-left: 0.1cm;
}

.case2 > .grille_case > .valeur_case:last-child {
    border-right-style: solid;
}

.case2 > .grille_case > .valeur_case > input {
    border:0;
    width:100%;
    height:100%;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}

.case2 > .grille_case > .valeur_case > select {
    border:0;
    width:100%;
    height:100%;
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-size: 1em;
}

.case2 > .grille_case > .valeur_case > span {
    font-weight: bold;
    color : var(--couleur-secondaire);
    display: flex;
    align-items: center;
    justify-content: center;
}

.case2 > .grille_case > .valeur_case > .labelFond {
    font-weight: bold;
    font-size: 0.72em;
    position: absolute;
    top: -1.4em;
    text-align: center;
    color: var(--couleur-cadre);
}

/******************************************
Les cases avec label dessous et non encadré
*******************************************/
.case3 {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    border: none;
    margin: 0;
}

.case3 > .legende_case {
    text-align: left;
    font-weight: bold;
    width : 100%;
    text-transform: uppercase;
    font-size: 0.72em;
    color: var(--couleur-cadre);
    border:0;
    border-top-style: solid;
    border-top-width: 0.05cm;
    padding-top: 0.05cm;
    border-top-color: var(--couleur-cadre);
    padding-left: 0.1cm;
    margin:0;
}

.case3 > .grille_case > .valeur_case {
    border: none;
    min-height: 0.5cm;
}
.case3 > .grille_case > .valeur_case > input {
    border: none;
    width: 100%;
    background:none;
}

.case3 > .grille_case > .valeur_case > select {
    border: none;
    width: 100%;
    background:none;
}


/******************************************
Ligne "Peuple" et "Niveau"
*******************************************/
#peuple_niv > div:first-child {
    width:100%;
}

#peuple_niv > div:nth-child(2) {
    margin-left:20px;
}

/******************************************
Zone des caractéristiques.
*******************************************/

#zoneCaracteristique {
    padding-right:15px;
    padding-left:15px;
    margin-bottom: 8px;
}

#zoneCaracteristique > .case2 > .grille_case {
    width:100%;
}

#zoneCaracteristique > .case2 > .grille_case > .valeur_case:nth-child(2) {
    width:100%;
    text-align: left;

}

#zoneCaracteristique > .case2 > .grille_case > .valeur_case > input {
    text-align: left;
}

#zoneCaracteristique > .case2 > .grille_case > .valeur_case:nth-child(2) > input {
    font-weight: normal;
    font-size: 0.8em;
}

/******************************************
Ligne "Famille" et "Profil".
*******************************************/
#ligne_famille_produit {
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 20px;
  align-items: stretch;
}

#ligne_famille_produit .case3 {
    flex-grow: 1;
}

/******************************************
Ligne "Idéal héroîque".
*******************************************/
#ligne_ideal > .case3 {
    width:100%;
}

/******************************************
Ligne "Travers".
*******************************************/
#ligne_travers > .case3 {
    width:100%;
}

/******************************************
Ligne "Description".
*******************************************/
#ligne_description > .case1 {
    width: 100%;
}

#ligne_description > .case1 > .grille_case {
    width: 100%;
}

#ligne_description > .case1 > .grille_case > .valeur_case {
    width: 100%;
}

/******************************************
Zone des attaques
*******************************************/
#ATTAQUES {
    margin-top : 20px;
}

#ATTAQUES > div.ligne_niv1 > .case2 > .legende_case {
    width: 6em;
}

#ATTAQUES > div.ligne_niv1 {
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    margin-bottom: 2px;
}


/**************************************************
Ligne "Points de vigueur" et  "dés de récupération"
***************************************************/
#vigueur_recup {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
}

#zoneDesRecuperation > .grille_case > .valeur_case:nth-child(3) {
    width:6em;
}

/**************************************************
Ligne "Chance" et  "Mana"
***************************************************/
#chance_mana {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
}

/**************************************************
Ligne "Initiative" et  "Defense"
***************************************************/
#initiative_defense {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;  
}

#initiative_defense > .case2 {
    margin-top: 1em;
}

#initiative_defense > .case2:nth-child(2) > .grille_case > .valeur_case {
    min-width: 2.7em;
}

/**************************************************
Zone "Equipement"
***************************************************/
#EQUIPEMENT {
}

#ligneEquipement > .case1 {
    width: 100%;
}

#ligneEquipement > .case1 > .grille_case {
    width: 100%;
}

#ligneEquipement > .case1 > .grille_case > .valeur_case {
    width: 100%;
}

#ligneBourse {
  display: flex;
  justify-content: space-around;
}

#ligneBourse > .case1 > .grille_case > .valeur_case {
    width: 4em;
}

/******************************************
Zone des armes
*******************************************/

div.zoneArme > div {
    display: grid;
    grid-template-columns: 2em auto;
    column-gap: 0.5em;
    width: 100%;
    margin-bottom: 4px;
}

div.zoneArme input.txtNomArme {
    width: 100%;
}

fieldset#ARMES input.txtDmArme {
    width:3em;
    margin-right:1.5em;
}

fieldset#ARMES input.txtAttaqueArme {
    width:2em;
}

fieldset#ARMES .detailArme {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

fieldset#ARMES .detailArme > span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

fieldset#ARMES .detailArme > span > label {
    margin-right: 0.5em;
    flex-grow: 1;
}

fieldset#ARMES .detailArme > span > input  {
    width:100%;
    flex-grow: 2;
}

/******************************************
Zone des armures
*******************************************/
fieldset#ARMURES .zoneArmure {
    display: grid;
    grid-template-columns: 2em 3em auto ;
    column-gap: 0.5em;
    row-gap: 0.3em;
    width: 100%;
}

fieldset#ARMURES .zoneChkArmure {
    grid-column: 1;
    grid-row: 1 / span 2;
}

fieldset#ARMURES input.txtDefArmure {
    width:4em;
    margin-right: 1em;
}

fieldset#ARMURES input.txtAgiArmure {
    width:4em;
}

/******************************************
Toutes les zones de voies
*******************************************/
fieldset.zoneVoie > .titreVoie {
    float: left;
    background-color: var(--couleur-cadre);
    text-align: center;
    color: white;
    width : 100%;
    text-transform: uppercase;
    position: absolute;
    top:0px;
}

fieldset.zoneVoie > .titreVoie > .lblNomVoie {
    font-weight: bold;
}

fieldset.zoneVoie > .titreVoie .lblTypeVoie {
    font-weight: normal;
    font-size: 0.8em;
    vertical-align: top;
}

div.zoneCapacite {
    padding: 0;

    border-style: solid;
    border-top-width: 0;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-color: var(--couleur-cadre);
    padding:4px;
    margin-bottom:0px;
    background-color: white;
}

div.contenuCapacite > .displayTitreCapacite {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size:75%;
    color: black;
    font-weight: bold;
}

div.contenuCapacite > .displayDescriptionCapacite {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size:75%;
    color: black;
    word-break: break-word;
}

div.contenuCapacite > .displayCommentaireCapacite {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size:75%;
    font-style: italic;
    color: black;
    margin-top:0.5em;
    word-break: break-word;
    white-space: pre-wrap;
    display: none;
}

div.contenuCapacite > .displayCommentaireCapacite::before {
    content: "Commentaire:";
    text-decoration: underline;
    margin-right : 1em;
}


