* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

h1 {
    text-align: center;
    color: #ac8a3c;
    font-family: "Brush Script MT", cursive;
    font-size: 2.5em;
    margin-top: 0;
}

label {
    display: inline-block;
    font-weight: bold;
    font-size:85%;
    margin-top: 4px;
}

.labelDessous {
    padding-top: 0px;
    padding-bottom: 2px;
    font-size:75%;
    color: #777777;
    display: inline-block;
}

input:invalid {
    background:red;
}

.labelAide {
    padding-top: 0px;
    padding-bottom: 2px;
    font-size:80%;
    color: #444444;
    display: inline-block;
}

.valeurAide {
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin:0;
    padding:0;
}

body {
    max-width: 1600px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
}

.fiche {
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    background:url(../img/fond_fiche3.jpg);
}

@media (max-width: 640px) {
    .fiche {
        padding-right: 0;
        padding-left: 0;
    }
}

textarea {
    font-size:80%;
}

select {
    background-color: #DDDDDD;
}

select:disabled {
    appearance: none;
    border-style: none;
    color: black;
    font-weight: bold;
    font-size: 90%;
    color: #444444;
    background-color: rgba(1,1,1,0);
}

button.btnModif {
    background:url(../img/icone_crayon.png);
    background-repeat: no-repeat;
    background-size: 1.3em 1.3em;
    background-position-x: center;
    background-position-y: center;
    height: 1.3em;
    width: 1.3em;
    vertical-align: middle;
    border:0;
    padding:0;
    margin:0;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
}

button.btnModif:hover{
    background-color: #AAAAAA;
}

/******************************************
 * Zone d'entete.
 *******************************************/
.entete {
    height: 6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.logoEntete {
    width: 4em;
    height: 4em;
}

@media (max-width: 640px) {
    .logoEntete {
        display: none;
    }
}

.logoEntete > img {
    width: 4em;
    height: 4em;
    color: grey;
}

.zoneNomPersonnage {
    display: inline-block;
    height: 4em;
    text-align: center;
    max-width: 400px;
}

.zoneNomPersonnage > div.zoneTxtNomPersonnage {
    padding-left:10px;
    padding-right:10px;
}

.zoneNomPersonnage > div > input {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
}

.zoneNomPersonnage > img {
    margin-top:2px;
    display: block;
    width:100%;
}

.zoneNomPersonnage > label {
    display: block;
    text-transform : uppercase;
    color: #ac8a3c;
    font-weight: bold;
    font-size: 1em;
}

/******************************************
Les colonnes
*******************************************/
div.col_container {
    display: flex;
    flex-direction: row;
    row-gap: 4px;
}

@media (max-width: 900px) {
    div.col_container {
        flex-direction: column;
    }
}

.colonne {
    min-width: 290px;
    width:100%;
}

/******************************************
Les groupes de champs
*******************************************/

fieldset.niv1 {
    padding-right: 0;
    padding-left: 0;
    padding-top: 1.5em;
    border-width: 4px;
    border:0;
    border-style: solid;
    border-color: #ac8a3c;
    margin:6px;
    position: relative;
}

fieldset.niv1 > legend {
    float: left;
    background-color: #ac8a3c;
    text-align: center;
    font-weight: bold;
    color: white;
    width : 100%;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    text-transform: uppercase;
    position: absolute;
    top:0px;
    height: 1.5em;
}

fieldset.niv1 > div.groupe_unique {
    margin-top: 8px;
    padding-left : 10px;
    padding-right : 10px;
    width:100%;
}

fieldset.niv1 > div.groupe_multiple {
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: #ac8a3c;
    padding:8px;
    margin-top:8px;
    margin-bottom:0px;
}

/********************************************
Ligne de niveau 1
*********************************************/
.ligne_niv1 {
    display: flex;
    flex-wrap: nowrap;
    margin:0;
    padding:0;
    width: 100%;
}

/******************************************
Les champs isolés de niveau 1
*******************************************/

fieldset.champs_niv1 {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    padding-top:0;
    padding-bottom: 1.3em;
    border-right: 2px;
    border-left: 2px;
    border-top:2px;
    border-bottom:0;
    border-style: solid;
    border-color: #ac8a3c;
    margin:6px;
    width: 100%;
}

fieldset.champs_niv1 > legend {
    background-color: #ac8a3c;
    text-align: center;
    font-weight: bold;
    color: white;
    width : 100%;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    font-size: 0.9em;
    height: 1.3em;
}

fieldset.champs_niv1 > div {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

/******************************************
Zone de la personnalité
*******************************************/

#zonePersonnalite > div {
    display: grid;
    grid-template-columns: 8em auto;
    vertical-align: middle;
    margin-bottom : 4px;
}

#zonePersonnalite input#TXT_NIVEAU {
    width: 4em;
}

#zonePersonnalite input#TXT_IDEAL {
    width: 100%;
}

#zonePersonnalite input#TXT_TRAVERS {
    width: 100%;
}

#zonePersonnalite textarea {
    width: 100%;
    height: 6em;
    resize : vertical;
}

/******************************************
Zone des caractéristiques.
*******************************************/
fieldset#CARAC #zoneCaracteristique {
    display: grid;
    grid-template-columns: 2.5em 3em auto;
    column-gap: 0.5em;
    row-gap: 0.3em;
    width: 100%;
}

fieldset#CARAC > div > .labelSelectCarac {
    float: left;
    width: 3em;
}

fieldset#CARAC .txtNoteCarac {
    min-width: 3em;
}

/******************************************
Zone des attaques
*******************************************/
#zoneAttaque {
    width: 100%;
    text-align: center;
}

fieldset#ATTAQUES > div > div > label {
    width: 5em;
    text-align: left;
}

fieldset#ATTAQUES span.caractAtt {
    display: inline-block;
    width: 4em;
}

fieldset#ATTAQUES > div > div input {
    width: 2em;
    text-align: right;
}

fieldset#ATTAQUES .valeurAide {
    width: 1.5em;
}

/*******************************************
Sous-zone de l'initiative
********************************************/
fieldset#zoneInitiative {
    width : 50%;
}

fieldset#zoneInitiative div {
    text-align: center;
}

fieldset#zoneInitiative input#TXT_INITIATIVE {
    width: 4em;
}

/*******************************************
Sous-zone des points de vigueur
*********************************************/
fieldset#zoneVigueur {
    width : 50%;
    text-align: center;
}

.gridVigueur {
    display: grid;
    grid-template-areas:
        'input1 separateur input2'
        'label1 . label2';
    column-gap: 0;
    grid-template-columns: 4em 1em 4em;
    width: 9em;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.gridVigueur label:nth-of-type(1) {
    grid-area: label1;
    justify-self: center;
}

.gridVigueur input:nth-of-type(1) {
    grid-area: input1;
    justify-self: center;
    width: 2em;
}

.gridVigueur span:nth-of-type(1) {
    grid-area: separateur;
    justify-self: center;
}

.gridVigueur label:nth-of-type(2)  {
    grid-area: label2;
    justify-self: center;
}

.gridVigueur input:nth-of-type(2) {
    grid-area: input2;
    justify-self: center;
    width: 2em;
}


/*******************************************
Sous-zone de la défense
*********************************************/
#zoneDefense {
    text-align: center;
}

#zoneDefense input#TXT_DEFENSE {
    width: 2em;
}

#zoneDefense input#TXT_DEF_AGI {
    width: 2em;
}

#zoneDefense input#TXT_DEF_ARMURE {
    width: 2em;
}

#zoneDefense input#TXT_DEF_AUTRE {
    width: 4em;
}

/*******************************************
Sous-zone de la chance
*********************************************/
fieldset#zonePointsChance {
    width : 50%;
    text-align: center;
}

.gridChance {
    display: grid;
    grid-template-areas:
        'input1 separateur input2'
        'label1 . label2'
        'aide aide aide';
    column-gap: 0;
    grid-template-columns: 4em 1em 4em;
    width: 8em;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.gridChance label:nth-of-type(1) {
    grid-area: label1;
    justify-self: center;
}

.gridChance input:nth-of-type(1) {
    grid-area: input1;
    justify-self: center;
    width: 2em;
}

.gridChance span:nth-of-type(1) {
    grid-area: separateur;
    justify-self: center;
}

.gridChance label:nth-of-type(2)  {
    grid-area: label2;
    justify-self: center;
}

.gridChance input:nth-of-type(2) {
    grid-area: input2;
    justify-self: center;
    width: 2em;
}

.gridChance span:nth-of-type(2) {
    grid-area: aide;
    text-align: center;
    max-width: 10em;
}


/********************************************
Sous-zone des point de MANA
**********************************************/
fieldset#zonePointsDeMana {
    width : 50%;
    text-align: center;
}

.gridMana {
    display: grid;
    grid-template-areas:
        'input1 separateur input2'
        'label1 . label2';
    column-gap: 0;
    grid-template-columns: 4em 1em 4em;
    width: 8em;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.gridMana label:nth-of-type(1) {
    grid-area: label1;
    justify-self: center;
}

.gridMana input:nth-of-type(1) {
    grid-area: input1;
    justify-self: center;
    width: 2em;
}

.gridMana span:nth-of-type(1) {
    grid-area: separateur;
    justify-self: center;
}

.gridMana label:nth-of-type(2)  {
    grid-area: label2;
    justify-self: center;
}

.gridMana input:nth-of-type(2) {
    grid-area: input2;
    justify-self: center;
    width: 2em;
}

/*******************************************
Sous-zone du dés de récupération
*********************************************/
.gridRecuperation {
    display: grid;
    grid-template-areas:
        'input1 separateur input2 . input3'
        'label1 . label2 . label3'
        'aide aide aide aide aide';
    column-gap: 0;
    grid-template-columns: 4em 1em 4em;
    max-width: 18em;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.gridRecuperation label:nth-of-type(1) {
    grid-area: label1;
    justify-self: center;
}

.gridRecuperation input:nth-of-type(1) {
    grid-area: input1;
    justify-self: center;
    width: 2em;
}

.gridRecuperation span:nth-of-type(1) {
    grid-area: separateur;
    justify-self: center;
}

.gridRecuperation label:nth-of-type(2)  {
    grid-area: label2;
    justify-self: center;
}

.gridRecuperation input:nth-of-type(2) {
    grid-area: input2;
    justify-self: center;
    width: 2em;
}

.gridRecuperation label:nth-of-type(3)  {
    grid-area: label3;
    justify-self: center;
    width: 8em;
    text-align: center;
}

.gridRecuperation input:nth-of-type(3) {
    grid-area: input3;
    justify-self: center;
    width: 2em;
}

.gridRecuperation span:nth-of-type(2) {
    grid-area: aide;
    justify-self: center;
}

/******************************************
Zone de l'équipement
*******************************************/
fieldset#EQUIPEMENT div {
    padding-left : 4px;
    padding-right : 4px;
    width:100%;
}

fieldset#EQUIPEMENT textarea {
    width: 100%;
    height: 6em;
    resize: vertical;
}

/******************************************
Zone de la bourse
*******************************************/

fieldset#zoneBourse input {
    width:4em;
}

fieldset#zoneBourse > div {
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

fieldset#zoneBourse > div > span {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 4px;
}

fieldset#zoneBourse input#TXT_NB_PO {
    margin-right: 1.5em;
}

fieldset#zoneBourse input#TXT_NB_PA {
    margin-right: 1.5em;
}

/******************************************
Zone des armes
*******************************************/

div.zoneArme > div {
    display: grid;
    grid-template-columns: 2em auto;
    column-gap: 0.5em;
    width: 100%;
    margin-bottom: 4px;
}

div.zoneArme input.txtNomArme {
    width: 100%;
}

fieldset#ARMES input.txtDmArme {
    width:3em;
    margin-right:1.5em;
}

fieldset#ARMES input.txtAttaqueArme {
    width:2em;
}

fieldset#ARMES .detailArme {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

fieldset#ARMES .detailArme > span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

fieldset#ARMES .detailArme > span > label {
    margin-right: 0.5em;
    flex-grow: 1;
}

fieldset#ARMES .detailArme > span > input  {
    width:100%;
    flex-grow: 2;
}

/******************************************
Zone des armures
*******************************************/
fieldset#ARMURES .zoneArmure {
    display: grid;
    grid-template-columns: 2em 3em auto ;
    column-gap: 0.5em;
    row-gap: 0.3em;
    width: 100%;
}

fieldset#ARMURES .zoneChkArmure {
    grid-column: 1;
    grid-row: 1 / span 2;
}

fieldset#ARMURES input.txtDefArmure {
    width:4em;
    margin-right: 1em;
}

fieldset#ARMURES input.txtAgiArmure {
    width:2em;
}

/******************************************
Toutes les zones de voies
*******************************************/
fieldset.zoneVoie > .titreVoie {
    float: left;
    background-color: #ac8a3c;
    text-align: center;
    color: white;
    width : 100%;
    text-transform: uppercase;
    position: absolute;
    top:0px;
}

fieldset.zoneVoie > .titreVoie > .lblNomVoie {
    font-weight: bold;
}

fieldset.zoneVoie > .titreVoie .lblTypeVoie {
    font-weight: normal;
    font-size: 0.8em;
    vertical-align: top;
}

div.zoneCapacite {
    padding: 0;
}

div.groupe_voie {
    border-style: solid;
    border-top-width: 0;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-color: #ac8a3c;
    padding:4px;
    margin-bottom:0px;
}

div.contenuCapacite > .displayTitreCapacite {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size:75%;
    color: black;
    font-weight: bold;
}

div.contenuCapacite > .displayDescriptionCapacite {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size:75%;
    color: black;
}

div.contenuCapacite > .displayCommentaireCapacite {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size:75%;
    font-style: italic;
    color: black;
    margin-top:0.5em;
    word-break: break-word;
    white-space: pre-wrap;
}

div.contenuCapacite > .displayCommentaireCapacite::before {
    content: "Commentaire:";
    text-decoration: underline;
    margin-right : 1em;
}


