* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

label {
    display: inline-block;
    font-weight: bold;
    font-size:85%;
}

input:invalid {
    background:red;
}

.labelAide {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size:80%;
    color: #444444;
}

/******************************************
Les groupes de champs de niveau 1
*******************************************/

fieldset.niv1 {
    padding-right: 0;
    padding-left: 0;
    padding-top:0;
    border-width: 4px;
    border-top:0;
    border-style: solid;
    border-color: #ac8a3c;
    margin:6px;
}

fieldset.niv1 > legend {
    float: left;
    background-color: #ac8a3c;
    text-align: center;
    font-weight: bold;
    color: white;
    width : 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-transform: uppercase;
}

fieldset.niv1 > div {
    padding-top : 10px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 0;
    display: inline-block;
    width:100%;
}

/******************************************
Les groupes de champs de niveau 2
*******************************************/

div.niv2 {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    position : relative;
    padding-top:20px;
    padding-bottom:2px;
    margin-bottom:8px;
}

div.niv2 > span {
    position : absolute;
    top: -2px;
    left:0;
    background-color: grey;
    font-weight: bold;
    color: white;
    font-size: 80%;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 100%;
    text-align: center;
}

div.niv2 > div {
    margin:4px;
}

/******************************************
Les colonnes
*******************************************/
div.col_container {
    display: flex;
    flex-direction: row;
    max-width: 1600px;
    row-gap: 4px;
}

@media (max-width: 800px) {
    div.col_container {
        flex-direction: column;
    }
}

.colonne {
    width:100%;
}

/******************************************
Zone de la personnalité
*******************************************/

fieldset#PERSONNALITE > div {
    display: grid;
    grid-template-columns: 8em auto;
    column-gap: 0.5em;
    row-gap: 0.3em;
    width: 100%;
}

fieldset#PERSONNALITE label {
    text-align: left;
}

fieldset#PERSONNALITE input#TXT_NIVEAU {
    width: 4em;
}

fieldset#PERSONNALITE input#IDEAL {
    width: 100%;
}

fieldset#PERSONNALITE input#TRAVERS {
    width: 100%;
}

fieldset#PERSONNALITE textarea {
    width: 100%;
    height: 6em;
}

/******************************************
Zone des caractéristiques.
*******************************************/
#zoneCaracteristique {
    display: grid;
    grid-template-columns: 2.5em 3em auto;
    column-gap: 0.5em;
    row-gap: 0.3em;
    width: 100%;
}

fieldset#CARAC > div > .labelSelectCarac {
    float: left;
    width: 3em;
}

/******************************************
Zone des attaques
*******************************************/
#zoneAttaque {
    width: 100%;
    text-align: center;
}

.valeurAttaque {
    font-weight: bold;
    text-align: center;
    width: 1.5em;
    display: inline-block;
    margin:0;
    padding:0;
}

fieldset#ATTAQUES > div > div > label {
    width: 5em;
    text-align: left;
}

fieldset#ATTAQUES span.caractAtt {
    display: inline-block;
    width: 4em;
}

fieldset#ATTAQUES > div > div input {
    width: 2em;
}

/******************************************
Zone de l'état
*******************************************/
#zoneEtat {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

/*------------------------------------------
Sous-zone de l'initiative
--------------------------------------------*/
#zoneInitiative {
    text-align: center;
    width: 5em;
}

#zoneInitiative input#INITIATIVE_COURANTE {
    width: 4em;
}

/*------------------------------------------
Sous-zone de la défense
--------------------------------------------*/

#zoneDefense input#TXT_DEFENSE {
    width: 2em;
}

#zoneDefense input#TXT_DEF_AGI {
    width: 2em;
}

#zoneDefense input#TXT_DEF_ARMURE {
    width: 2em;
}

#zoneDefense input#TXT_DEF_AUTRE {
    width: 4em;
}

/*------------------------------------------
Sous-zone de la vigueur
--------------------------------------------*/

#zonePointsVigueur {
    width: 12em;
}

#zonePointsVigueur input {
    width: 2em;
}

/*------------------------------------------
Sous-zone de la chance
--------------------------------------------*/

#zonePointsChance input {
    width: 2em;
}

/*------------------------------------------
Sous-zone du dés de récupération
--------------------------------------------*/

#zoneDesRecuperation input#TXT_DES_RECUP {
    width:3em;
}

#zoneDesRecuperation input#TXT_DES_RECUP_UTILISES {
    width: 2em;
}

#zoneDesRecuperation input#TXT_DES_RECUP_MAX {
    width: 2em;
    margin-right: 2em;
}

/*------------------------------------------
Sous-zone des point de MANA
--------------------------------------------*/
#zonePointsDeMana input {
    width: 2em;
}

/******************************************
Zone de la bourse
*******************************************/

fieldset#BOURSE input {
    width:5em;
}

fieldset#BOURSE input#TXT_NB_PO {
    margin-right: 1.5em;
}

fieldset#BOURSE input#TXT_NB_PA {
    margin-right: 1.5em;
}

/******************************************
Zone de l'équipement
*******************************************/
fieldset#EQUIPEMENT textarea {
    width: 100%;
    height: 6em;
}

/******************************************
Zone des armes
*******************************************/

div.zoneArme {
    display: grid;
    grid-template-columns: 7em auto;
    column-gap: 0.5em;
    row-gap: 0.3em;
    width: 100%;
}

div.zoneArme input.txtNomArme {
    width: 100%;
}

fieldset#ARMES input.txtDmArme {
    width:2em;
}

fieldset#ARMES input.txtAttaqueArme {
    width:2em;
}

fieldset#ARMES span.txtDesAttaqueArme {
    display: inline-block;
}

div.zoneArme input.txtSpecialArme {
    width: 100%;
}

/******************************************
Zone des armures
*******************************************/
fieldset#ARMURES .zoneArmure {
    display: grid;
    grid-template-columns: 2em 3em auto ;
    column-gap: 0.5em;
    row-gap: 0.3em;
    width: 100%;  
}

fieldset#ARMURES .zoneChkArmure {
    grid-column: 1;
    grid-row: 1 / span 2;
}

fieldset#ARMURES input.txtDefArmure {
    width:4em;
    margin-right: 1em;
}

fieldset#ARMURES input.txtAgiArmure {
    width:2em;
}

/******************************************
Toutes les zones de voies
*******************************************/
fieldset.zoneVoie {
}

fieldset.zoneVoie > fieldset.zoneCapacite > div.chkCapacite {
    float: left;
    width:8%
}

fieldset.zoneVoie > fieldset.zoneCapacite > div.chkCapacite > input {
    width: 1em;
}

fieldset.zoneVoie > fieldset.zoneCapacite > div.contenuCapacite {
    float: left;
    width: 92%;
}

fieldset.zoneVoie > fieldset.zoneCapacite > div.contenuCapacite > textarea {
    width: 100%;
}

/******************************************
Zone de la voie du peuple
*******************************************/
