:root {
    --couleur-cadre: #ac8a3c;
    --couleur-secondaire: #999999;
}

/*****************************************
 * Style commun à la structure des pages.
 *****************************************/
* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    color-adjust: exact!important;
    -webkit-print-color-adjust: exact!important;
    print-color-adjust: exact!important;
}

body {

    margin:0;
}


header, main, footer {
    border:0;
    margin:0;
    padding:0
}

@media screen {
    body {
        width:20cm;
        margin-left:auto;
        margin-right:auto;
    }

    header, main, footer {
        background:url(../img/fond_fiche3.jpg);
        padding-right: 0.4cm;
        padding-left: 0.4cm;
    }

}

/******************************************
 * Header
 *******************************************/

header {
    display: flex;
    height:3cm;
}



/******************************************
 * Header : Logo
 *******************************************/

@font-face {
    font-family: COF2Titre;
    src: url(../font/Candal.ttf);
    font-weight: bold;
}

.titre  {
    width: 5.5cm;
    height:2cm;
    text-align: center;
    color: var(--couleur-cadre);
}

.titre * {
    font-family: COF2Titre, Times;
    font-weight: bold;
}

.titre div:nth-child(1) {
    font-size:0.7cm;

}

.titre div:nth-child(2) {
    font-size:0.7cm;
    position: relative;
    top: -0.75cm;
}

.titre div:nth-child(3) {
    font-size:0.32cm;
    position: relative;
    top: -1.25cm;
}

.titre div span:nth-child(1) {
    font-size:0.9cm;
}

.titre div span:nth-child(2) {
    vertical-align:0.1cm;
}

.titre div span:nth-child(3) {
    font-size:0.9cm;
}

/******************************************
 * Header : Nom du personnage
 *******************************************/
.zoneNomPersonnage {
    height: 0.8cm;
    text-align: center;
    width: 100%;
    margin-right: 1.5cm;
}

.zoneNomPersonnage > div#TXT_NOM {
    font-weight: bold;
    font-size: 0.6cm;
    overflow: hidden;
    width:10cm;
    margin-top:0.2cm;
    margin-left:auto;
    margin-right:0;
}

.zoneNomPersonnage > img {
    margin-top:2px;
    display: block;
    width:10cm;
    margin-left:auto;
    margin-right:0;
}

.zoneNomPersonnage > div#LBL_NOM {
    display: block;
    text-transform : uppercase;
    color: var(--couleur-cadre);
    font-weight: bold;
    font-size: 1em;
    width:10cm;
    margin-left:auto;
    margin-right:0;
}

/******************************************
 * Colonnes
 ******************************************/
div.col_container {
    display: flex;
    flex-direction: row;
    row-gap: 1cm;
    break-after: page;
}

div.col_container .colonne:first-child {
    width:40%;
    margin-right: 0.4cm;
}

div.col_container .colonne:nth-child(2) {
    min-width: 290px;
    width:60%;
}



/******************************************
 * Lignes
 ******************************************/
.ligne_niv1 {
    display: flex;
}

/******************************************
 * Groupe de zones
 ******************************************/
.groupe_zones > h2 {
    background-color: var(--couleur-cadre);
    text-align: center;
    font-size:0.40cm;
    font-weight: bold;
    color: white;
    width : 100%;
    padding-top: 0.05cm;
    padding-bottom: 0;
    text-transform: uppercase;
    margin-top:0;
    margin-bottom: 0.2cm;
}

.groupe_zones {
    margin-bottom: 0.4cm;
}

/******************************************
Les cases avec label dessous et encadré
*******************************************/

.case1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
}

.case1 > .grille_case {
    order:1;
    display: flex;
    flex-direction: row;
    border:0;
    margin:0;
}

.case1 > .legende_case {
    order:2;
    background-color: var(--couleur-cadre);
    text-align: center;
    font-weight: bold;
    color: white;
    width : 100%;
    padding-top:0.08cm;
    text-transform: uppercase;
    height:0.5cm;
    font-size: 0.3cm;
}

.case1 > .labelAide {
    order:3;
    margin-top:0.09cm;
    font-size: 0.25cm;
    text-align: center;
    width : 100%;
    color: var(--couleur-cadre);
}

.case1 > .grille_case > .valeur_case {
    border-width: 0.07cm;
    border-color: var(--couleur-cadre);
    border-top-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-right-style: none;
    min-width: 1.4cm;
    position: relative;
    height:0.95cm;
    display: flex;
    justify-content: center;
}

@media screen {
    .case1 > .grille_case > .valeur_case {
        background-color: white;
    }
}

.case1 > .grille_case > .valeur_case:last-child {
    border-right-style: solid;
}

.case1 > .grille_case > .valeur_case > span {
    font-weight: bold;
    margin-top: 0.05cm;
    font-size : 0.55cm;
}

.case1 > .grille_case > .valeur_case > .labelFond {
    font-weight: bold;
    font-size: 0.31cm;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #999999;
}


/******************************************
Les cases avec label à gauche
*******************************************/
.case2 {
    display: flex;
    flex-direction: row;
    border-width: 0;
    border-style: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0.1cm;
    position: relative;
    height:0.85cm;
}

.case2:has(.grille_case > .valeur_case > .labelFond) {
    margin-top: 0.4cm;
}

.case2 > .grille_case {
    display: flex;
    flex-direction: row;
    border:0;
}

.case2 > .legende_case {
    background-color: var(--couleur-cadre);
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding-left: 0.1cm;
    padding-right: 0.1cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case2 > .grille_case > .valeur_case {
    border-width: 0.07cm;
    border-top-style: solid;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color : var(--couleur-secondaire);
    min-width: 1.1cm;
    position: relative;
    display: flex;
    justify-content: center;
}

@media screen {
    .case2 > .grille_case > .valeur_case {
        background-color: white;
    }
}

.case2 > .grille_case > .valeur_case:nth-child(1) {
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: var(--couleur-cadre);
}

.case2 > .grille_case > .valeur_case:nth-child(2) {
    margin-left: 0.1cm;
}

.case2 > .grille_case > .valeur_case:last-child {
    border-right-style: solid;
}

.case2 > .grille_case > .valeur_case > span {
    font-weight: bold;
    margin-top: 0.05cm;
    font-size : 0.55cm;
}

.case2 > .grille_case > .valeur_case > .labelFond {
    font-weight: bold;
    font-size: 0.31cm;
    position: absolute;
    bottom: 0.78cm;
    text-align: center;
    color: var(--couleur-cadre);
}

/******************************************
Les cases avec label dessous et non encadré
*******************************************/
.case3 {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    border: none;
    margin: 0;
    margin-bottom: 0.3cm;
}

.case3 > .legende_case {
    text-align: left;
    font-weight: bold;
    width : 100%;
    text-transform: uppercase;
    font-size: 0.3cm;
    color: var(--couleur-cadre);
    border:0;
    border-top-style: solid;
    border-top-width: 0.05cm;
    padding-top: 0.05cm;
    border-top-color: var(--couleur-cadre);
    padding-left: 0.1cm;
}

.case3 > .grille_case > .valeur_case {
    border: none;
    min-height: 0.5cm;
    overflow: hidden;
}

.case3 > .grille_case > .valeur_case > span {
    font-weight: normal;
    font-size : 0.45cm;
    white-space:nowrap;
}

/*********************************************************
 * Zone peuple et niveau
 *********************************************************/
div.ligne_niv1#peuple_niv > div:first-child {
    flex-grow: 3;
    margin-right: 0.5cm;
}


/*********************************************************
 * Zone des caractéristiques
 *********************************************************/

div#caracteristiques {
    margin-bottom: 0.3cm;
    margin-top: 0.5cm;
}

div#caracteristiques > div.case2 > div.grille_case {
    width: 100%;
}

div#caracteristiques > div.case2 > div.grille_case > div.valeur_case:nth-child(2) {
    width: 100%;
}

div#caracteristiques > div.case2 > div.grille_case > div.valeur_case:nth-child(2) > span:first-child {
    font-weight: normal;
    font-size:0.29cm;
    padding-left: 0.1cm;
    width:100%;
    word-break: break-all;
}

/*********************************************************
 * Zone de la description
 *********************************************************/

div#zone_description > .case1 {
    margin-top: 0.4cm;
    margin-bottom: 0.5cm;
    width:100%;
    height: 3.7cm;
}

div#zone_description > .case1 > .grille_case > .valeur_case {
    width:100%;
    height: 3.1cm;
    padding-right:0.1cm;
    padding-left:0.1cm;
}

div#zone_description > .case1 > .grille_case > .valeur_case > #TXT_DESCRIPTION {
    font-weight: normal;
    font-size:0.30cm;
    overflow: hidden;
    width: 100%;
}

/*********************************************************
 * Zone de la attaque
 *********************************************************/

div#zoneAttaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#zoneAttaque > .case2:first-child {
    margin-top: 0.4cm;
}

div#zoneAttaque > .case2:nth-child(2) {
    margin-top: 0.6cm;
}

div#zoneAttaque > .case2:nth-child(3) {
    margin-top: 0.6cm;
}

div#zoneAttaque > .case2 > .legende_case {
    width:2.6cm;
    margin-bottom: 0;
}

/*********************************************************
 * Ligne Vigueur / Récupération
 *********************************************************/
div#ligneVigueurRecuperation {
  display: flex;
  justify-content: space-around;
  margin-bottom:0.2cm;
}

div#zoneDesRecuperation > div.grille_case > div:nth-child(3) {
    width:2.8cm;
}

/*********************************************************
 * Ligne Chance / Mana
 *********************************************************/
div#ligneChanceMana {
  display: flex;
  justify-content: space-around;
  margin-bottom:0;
}

div#ligneChanceMana .valeur_case {
    width:1.5cm;
}

/*********************************************************
 * Ligne INIT et DEF
 *********************************************************/
div#ligneInitDef {
  display: flex;
  justify-content: space-around;
  margin-bottom:0.3cm;
}

div#ligneInitDef > div:first-child {
    margin-top: 0.4cm;
}

/*********************************************************
 * Zone des armes
 *********************************************************/
#sectionArmes {
    margin-top: 0.5cm;
}

div#tableauArmes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0.1cm;
    padding-right: 0.1cm;
}

div#tableauArmes div {
    width: 100%;
}

div#tableauArmes > div > .case2 > .legende_case {
    width: 0.5cm;
}

div#tableauArmes > div > .case2 > .grille_case > div > span:first-child {
    padding-top: 0.1cm;
    font-size : 0.35cm;
}

div#tableauArmes > div > .case2 > .grille_case > div:first-child {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#tableauArmes > div > .case2 > .grille_case > div:first-child > span:first-child {
    padding:0;
    text-align: center;
}

div#tableauArmes > div > .case2 > .grille_case > div:nth-child(2) {
    width:2.3cm;
}

div#tableauArmes > div > .case2 > .grille_case > div:nth-child(3) {
    width:2cm;
}

div#tableauArmes > div > .note_arme {
    border-width: 0.07cm;
    border-style: solid;
    border-color : var(--couleur-secondaire);
    height:0.65cm;
    padding-left:0.2cm;
    padding-right:0.2cm;
    margin-left: 0.5cm;
    margin-bottom: 0.3cm;
    width: auto;
    height: auto;
    min-height: 0.7cm;
    padding-bottom:0.05cm;
}

@media screen {
    div#tableauArmes > div > .note_arme {
        background-color: white;
    }
}

div#tableauArmes > div > .note_arme > span {
    font-weight: normal;
    font-size:0.30cm;
    overflow: hidden;
}

/*********************************************************
 * Zone des armures
 *********************************************************/

div#tableauArmures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.3cm;
    padding-left: 0.1cm;
    padding-right: 0.1cm;
}

div#tableauArmures > .case2 {
    width:100%;
}

div#tableauArmures > .case2 > .grille_case {
    width:100%;
}

div#tableauArmures > .case2 > .grille_case > div {
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

div#tableauArmures > .case2 > .grille_case > div:first-child {
    width:100%;
}

div#tableauArmures > .case2 > .grille_case > div > span:first-child {
    font-size : 0.35cm;
}

div#tableauArmures > .case2 > .grille_case > div:nth-child(2) {
    width:1.3cm;
}
div#tableauArmures > .case2 > .grille_case > div:nth-child(3) {
    width:1.3cm;
}
div#tableauArmures > .case2 > .grille_case > div:nth-child(4) {
    width:1.3cm;
}


/*********************************************************
 * Ligne Equipement / Bourse
 *********************************************************/

#ligneEquipement {
    margin-top:0.5cm;

}

#ligneEquipement > div {
    display: flex;
    flex-direction: row;
    column-gap: 0.3cm;
    padding-left: 0.1cm;
    padding-right: 0.1cm;
}

#zone_equipement {
    width: 100%;
}

#zone_equipement > .case1 {
    width:100%;
    height: 3.7cm;
}

#zone_equipement > .case1 > .grille_case > .valeur_case {
    width:100%;
    height: 3.35cm;
    padding-right:0.1cm;
    padding-left:0.1cm;
}

#zone_equipement > .case1 > .grille_case > .valeur_case > #TXT_EQUIPEMENT {
    font-weight: normal;
    font-size:0.30cm;
    overflow: hidden;
    width: 100%;
}

#zoneBourse > .grille_case {
    flex-direction: column;
}

#zoneBourse > .grille_case > .valeur_case {
    border-bottom-style: none;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    height:1.1cm;
}

/*********************************************************
 * Voies
 *********************************************************/

.zoneVoie {
    border-width: 0.07cm;
    border-top-style: none;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: none;
    border-color : var(--couleur-cadre);
    margin-bottom: 0.2cm;
    break-inside: avoid;
}

.zoneVoie > h2 {
    background-color: var(--couleur-cadre);
    text-align: center;
    font-size:0.3cm;
    font-weight: bold;
    color: white;
    width : 100%;
    padding-top: 0.05cm;
    padding-bottom: 0;
    text-transform: uppercase;
    margin-top:0;
    margin-bottom: 0;
}

.zoneVoie > h2 > .txtTypeVoie {
    font-weight: normal;
    font-size: 0.2cm;
    vertical-align: top;
    margin-left:0.1cm;
}


.zoneVoie > .zoneCapacite {
    border-bottom-width: 0.07cm;
    border-bottom-style: solid;
    border-color : var(--couleur-cadre);
    min-height: 0.6cm;
    font-size: 0.25cm;
    padding-top: 0.1cm;
    padding-left: 0.1cm;
    padding-bottom: 0.1cm;
}

@media screen {
    .zoneVoie > .zoneCapacite {
        background-color: white;
    }
}

.zoneVoie > .zoneCapacite .selectionCapacite {
    border-width: 0.04cm;
    border-color: var(--couleur-secondaire);
    border-style: solid;
    width:0.3cm;
    height:0.3cm;
    float: left;
    margin-right: 0.1cm;
    font-size: 0.1cm;
}

.zoneVoie > .zoneCapacite .selectionCapacite:not(:empty) {
    background-color: black;
}

.zoneVoie > .zoneCapacite .lblComplementCapacite {
    text-decoration: underline;
}

.zoneVoie > .zoneCapacite .txtTitreCapacite {
    font-weight: bold;
}

.zoneVoie > .zoneCapacite .lblComplementCapacite:before {
    content:"Commentaire:"
}

.zoneVoie > .zoneCapacite .commentaireCapacite:has( .txtComplementCapacite:empty) {
    display:none;
}

